[Desktop Entry]
Encoding=UTF-8
Name=Link to How to Track your Robot with OpenCV - 17
Type=Link
URL=http://www.instructables.com/id/How-to-Track-your-Robot-with-OpenCV/step17/OpenCV-Selecting-Your-Color/
Icon=text-html
