<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Robosheep - Control</title>
    <meta charset="utf-8"/>
    <!-- <meta http-equiv="refresh" content="5">-->
    <style>
        button {
            height: 80px;
            width: 200px;
        }

    </style>
</head>
<body>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>

<h1>Motordriver (Ver. 0.9)</h1>

<div style="width: 608px; margin: auto; border: 1px solid black;">
    <h2>Control</h2>
    <TABLE>
        <TR>
            <TD>
            </TD>
            <TD>
                <button onclick="forward()">forward</button>
            </TD>
            <TD></TD>
        </TR>
        <TR>
            <TD>
                <button onclick="left()">left</button>
            </TD>
            <TD>
                <button onclick="stop()">stop</button>
            </TD>
            <TD>
                <button onclick="right()">right</button>
            </TD>
        </TR>
        <TR>
            <TD></TD>
            <TD>
                <button onclick="backward()">backward</button>
            </TD>
            <TD></TD>
        </TR>
        <TR>
            <TD>
                <button onclick="speed1()">speed1</button>
            </TD>
            <TD>
                <button onclick="speed2()">speed2</button>
            </TD>
            <TD>
                <button onclick="speed3()">speed3</button>
            </TD>
        </TR>

    </TABLE>

</div>

<!--
<div style="display: table-cell; border: 1px solid black;">
-->
<div style="width: 600px; margin: auto; border: 1px solid black;">
    <h2>Log</h2>
    <p id="log">log</p>
</div>


<script>

    //
    // global vars
    //
    let ip = location.host;
    if (location.host === "localhost:63342") ip = "192.168.1.40";
    var url = new URL(window.location.href);
    var paramHost = url.searchParams.get("host");
    if (paramHost != null) ip = paramHost;
    console.log("communication with ip: " + ip);

    const url_sheep_state = "http://" + ip + "/sheep/state";
    const url_sheep_move = "http://" + ip + "/sheep/move";
    const url_motor = "http://" + ip + "/motor";
    var speed = 0;
    console.log("speed set to " + speed);

    const logger = document.getElementById('log');


    /*
     * send command to sheep
     */
    let awaitingRequest = false;
    function sendCommand(speed, direction) {

        // ensure, there is a delay of at least 1000ms between consecutive commands
        if (awaitingRequest) return;
        awaitingRequest = true;
        setTimeout(function (){
            awaitingRequest = false;
        }, 1000)


        let sum = direction + speed
        let diff = direction - speed

        if (Math.abs(sum) > 100 || Math.abs(diff) > 100) {
            console.log("motor speeds to high")
            return
        }

        // call server
        let url = url_sheep_move + "?speed=" + speed + "&dir=" + direction
        console.log("Sending: " + url );
        const Http = new XMLHttpRequest();
        Http.open("GET", url);
        Http.responseType = 'json';
        Http.send();
        Http.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                let sheep_state = Http.response
            }
        }
    }


    function speed1() {
        speed = 12;
        console.log("speed set to " + speed);
    }

    function speed2() {
        speed = 25;
        console.log("speed set to " + speed);
    }

    function speed3() {
        speed = 100;
        console.log("speed set to " + speed);
    }

    function stop() {
        sendCommand(0, 0);
    }

    function forward() {
        sendCommand(speed, 0)
    }

    function left() {
        sendCommand(0, -speed);
    }

    function right() {
        sendCommand(0, speed);
    }

    function backward() {
        sendCommand(-speed, 0)
    }

    function stop() {
        sendCommand(0, 0);
    }

</script>
</body>
</html>
