<!DOCTYPE HTML>
<head>
    <title>Robosheep- Status</title>
    <meta charset="utf-8"/>
    <style>
        #motor_speed_bars {
            width: 600px;
            padding: 10px;
            background-color: grey;
        }

        #speedBar {
            color: green;
        }

        .progress-bar-vertical {
            width: 30px;
            min-height: 100px;
            display: flex;
            align-items: flex-end;
            margin-right: 20px;
            float: left;

        }

        .progress-bar-vertical .progress-bar {
            width: 100%;
            height: 0;
            color: black;
            -webkit-transition: height 0.6s ease;
            -o-transition: height 0.6s ease;
            transition: height 0.6s ease;
        }


    </style>
</head>
<body>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>

<h1>Motordriver (Ver. 0.9)</h1>

<div style="margin-right: auto; margin-left: auto; width: 602px; border: 1px solid black;">
    <h2>Robosheep Status</h2>
    <div id="motor_speed_bars">

        <div>M1___M2__RSSI__PWR </div>
        <div class="progress progress-bar-vertical">
            <div id="motorBar1" class="progress-bar" role="progressbar" style="height: 50%;" aria-valuenow="50"
                 aria-valuemin="0" aria-valuemax="100">0%
            </div>
        </div>

        <div class="progress progress-bar-vertical">
            <div id="motorBar2" class="progress-bar" role="progressbar" style="height: 50%;" aria-valuenow="50"
                 aria-valuemin="0" aria-valuemax="100">0%
            </div>
        </div>

        <div class="progress progress-bar-vertical">
            <div id="signalStrength" class="progress-bar" role="progressbar" style="height: 0%;" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100">0%
            </div>
        </div>

        <div class="progress progress-bar-vertical">
            <div id="powerSupply" class="progress-bar" role="progressbar" style="height: 0%;" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100">0%
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </div>
    <p id="sheep_state">sheep_state</p>

    <div id="status_values">

        <!--
        <label for="maxSpeedInput">Max Speed:</label>
        <input type="number" id="maxSpeedInput" min="5" max="100">
        <br>

        <label for="errorM1Input">Error M1:</label>
        <input type="number" id="errorM1Input" min="0" max="100">
        <br>

        <label for="errorM2Input">Error M2:</label>
        <input type="number" id="errorM2Input" min="0" max="100">
        -->
        <br>
        <br>
        <br>

        <table>
        <tr>
          <td>Parameter</td>
          <td>Amount___________________________________</td>
        </tr>
        <tr>
          <td>Request Running</td>
          <td><input type="radio" id="requestRunning" ></td>
        </tr>
        <tr>
          <td>isCutterOn</td>
          <td><input type="checkbox" id="cutterOn"></td>
        </tr>
        <tr>
          <td>errorM1</td>
          <td><input type="number" id="errorM1"></td>
        </tr>
        <tr>
          <td>errorM2</td>
          <td><input type="number" id="errorM2"></td>
        </tr>
        <tr>
          <td>maxSpeed</td>
          <td><input type="number" id="maxSpeed"></td>
        </tr>
        <tr>
          <td>m1</td>
          <td><div class="progress"><div id="m1" class="progress-bar">0%</div></div></td>
        </tr>
        <tr>
          <td>m2</td>
          <td><div class="progress"><div id="m2" class="progress-bar">0%</div></div></td>
        </tr>
        <tr>
          <td>desiredSpeedM1</td>
          <td><div class="progress"><div id="desiredSpeedM1" class="progress-bar">0%</div></div></td>
        </tr>
        <tr>
          <td>desiredSpeedM2</td>
          <td><div class="progress"><div id="desiredSpeedM2" class="progress-bar">0%</div></div></td>
        </tr>
        <tr>
          <td>posM1</td>
          <td><div id="posM1">0</div></td>
        </tr>
        <tr>
          <td>posM2</td>
          <td><div id="posM2">0</div></td>
        </tr>
        <tr>
          <td>dist1</td>
          <td><div id="dist1">0</div></td>
        </tr>
        <tr>
          <td>dist2</td>
          <td><div id="dist2">0</div></td>
        </tr>
        <tr>
          <td>azimuth</td>
          <td><div id="azimuth">0</div></td>
        </tr>
        <tr>
          <td>power</td>
          <td><div class="progress"><div id="power" class="progress-bar">0%</div></div></td>
        </tr>
        <tr>
          <td>rssi</td>
          <td><div class="progress"><div id="rssi" class="progress-bar">0%</div></div></td>
        </tr>
        <tr>
          <td>losingConnection</td>
          <td><div class="progress"><div id="losingConnection" class="progress-bar">0%</div></div></td>
        </tr>
        </table>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
</div>


<!--
<div style="display: table-cell; border: 1px solid black;">
-->
<div style="width: 600px; margin: auto; border: 1px solid black;">
    <h2>Log</h2>
    <p id="log">log</p>
</div>


<script>

    //
    // global vars
    //
    let ip = location.host;
    if (location.host.startsWith("localhost")) ip = "192.168.1.40";
    console.log("communication with ip: " + ip)
    var url = new URL(window.location.href);
    var paramHost = url.searchParams.get("host");
    if (paramHost != null) ip = paramHost;

    const url_sheep_state = "http://" + ip + "/sheep/state";
    const url_sheep_move = "http://" + ip + "/sheep/move";
    const url_sheep_set = "http://" + ip + "/sheep/set";
    const url_sheep_cutter = "http://" + ip + "/sheep/cutter";
    const url_motor = "http://" + ip + "/motor";
    var speed = 0;
    console.log("speed set to " + speed);

    //
    // motor bars
    //
    const motor_speed_bars = document.getElementById("motor_speed_bars")
    const motorBar1 = document.getElementById('motorBar1');
    const motorBar2 = document.getElementById('motorBar2');

    const sheepStateCtrl = document.getElementById('sheep_state');
    const logger = document.getElementById('log');

    const requestRunning = document.getElementById('requestRunning');


    var maxSpeedInput = document.getElementById('maxSpeed');
    maxSpeedInput.addEventListener('input', setMaxSpeed);

    const errorM1Input = document.getElementById('errorM1');
    errorM1Input.addEventListener('input', setErrorM1);

    const errorM2Input = document.getElementById('errorM2');
    errorM2Input.addEventListener('input', setErrorM2);

    const cutterOn = document.getElementById('cutterOn');
    cutterOn.addEventListener('input', setCutterOnOff);



    motor_speed_bars.onmousedown = function (event) {
        console.log("onmousedown: " + event.button)
    }

    /*
    Update progress bars that indicate motor speed.
    Values are between -100 and 100.
     */
    function updateMotorBars(m1, m2) {
        if (m1 < -100 || m1 > 100 || m2 < -100 || m2 > 100) {
            console.error("Called updateMotorBars(" + m1 + "," + m2 + ") with invalid values.")
            return
        }
        updateMotorBar(motorBar1, m1);
        updateMotorBar(motorBar2, m2);
    }

    function updateMotorBar(motorBar, value) {
        let width = (100 + value) / 2;
        motorBar.style.height = width+'%';
        motorBar.innerHTML = value+'%';
        if (value < 0){
            motorBar.style.backgroundColor = "red";
        }else{
            motorBar.style.backgroundColor = "green";
        }
    }

    function updateRssiCtrl(sheep_state){
        let rssiValue = parseInt(sheep_state['rssi']);
        let barHeight = 100 + rssiValue;
        const signalStrengthCtrl = document.getElementById('signalStrength');
        signalStrengthCtrl.style.height = barHeight+'%';
        signalStrengthCtrl.innerHTML = rssiValue + 'dBm';
    }

    function updatePwrCtrl(sheep_state){
        let powerValue = parseInt(sheep_state['power']);
        let barHeight = powerValue / 24 * 100;
        if (barHeight > 100) barHeight = 100;
        let voltage = (powerValue / 10.0).toFixed(1);
        const powerSupplyCtrl = document.getElementById('powerSupply');
        powerSupplyCtrl.style.height = barHeight+'%';
        powerSupplyCtrl.innerHTML = voltage + 'V';
        //console.log("Voltage: " + voltage)
    }

    function updateAllParameter(sheep_state) {
        for (var key in sheep_state) {
            if (sheep_state.hasOwnProperty(key)) {
                updateParameter(key, sheep_state[key])
            }
        }

    }

    function updateParameter(paramName, value) {
        const paramElement = document.getElementById(paramName);
        if (paramElement == null) return;

        if (["maxSpeed","errorM1","errorM2"].indexOf(paramName) > -1){
            paramElement.value = value;
            return
        }

        paramElement.style.width = value+'%';
        paramElement.innerHTML = value+'%';
        if (paramName === 'rssi'){
            let rssiValue = parseInt(value);
            paramElement.innerHTML = value;
            paramElement.style.width = 100 + rssiValue +'%';
        }
        if (paramName === 'power'){
            let powerValue = parseInt(value);
            let barWidth = powerValue / 24 * 100;
            if (barWidth > 100) barWidth = 100;
            let voltage = (powerValue / 10.0).toFixed(1);
            paramElement.innerHTML = voltage + 'V';
            paramElement.style.width = barWidth +'%';
        }
        if (paramName === 'losingConnection'){
            let timeToLosingConnection = parseInt(value);
            if (timeToLosingConnection < 0 ) timeToLosingConnection = 0;
            let barWidth = timeToLosingConnection / 5000 * 100;
            paramElement.innerHTML = timeToLosingConnection + 'ms';
            paramElement.style.width = barWidth +'%';
        }
        if (paramName === 'maxSpeed'){
            let maxSpeed = parseInt(value);
            paramElement.value = maxSpeed;
        }

        if (["posM1","posM2","dist1","dist2", "azimuth"].indexOf(paramName) > -1){
            paramElement.innerHTML = value;
        }

        if (["m1","m2","desiredSpeedM1","desiredSpeedM2"].indexOf(paramName) > -1){
            let width = (100 + value)/2;
            paramElement.style.width = width+'%';
            paramElement.innerHTML = value+'%';
            if (value < 0){
                paramElement.style.backgroundColor = "red";
            }else{
                paramElement.style.backgroundColor = "green";
            }
        }
    }


    //
    // update sheep state
    //
    let stillWaitingForRequest = false;
    requestRunning.checked = false;
    const intervalID = setInterval(function () {
        if (stillWaitingForRequest) return;
        const Http = new XMLHttpRequest();
        Http.open("GET", url_sheep_state);
        Http.timeout=500;
        Http.responseType = 'json';
        stillWaitingForRequest = true;
        requestRunning.checked = true;
        Http.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                stillWaitingForRequest = false;
                requestRunning.checked = false;
                requestRunning.style.backgroundColor = "green"
                let sheep_state = Http.response
                updateMotorBars(parseInt(sheep_state['m1']), parseInt(sheep_state['m2']));
                updateRssiCtrl(sheep_state);
                updatePwrCtrl(sheep_state);
                updateAllParameter(sheep_state);
                sheepStateCtrl.innerHTML = JSON.stringify(sheep_state, null, 4);
            }
        }
        Http.ontimeout = function (e) {
            console.log("timeout")
            stillWaitingForRequest = false;
            requestRunning.style.backgroundColor = "red"
        };
        Http.send();
    }, 1000);


    /*
     * send command to sheep
     */
    let awaitingRequest = false;
    function sendCommand(speed, direction) {

        // ensure, there is a delay of at least 1000ms between consecutive commands
        if (awaitingRequest) return;
        awaitingRequest = true;
        setTimeout(function (){
            awaitingRequest = false;
        }, 1000)


        let sum = direction + speed
        let diff = direction - speed

        if (Math.abs(sum) > 100 || Math.abs(diff) > 100) {
            console.log("motor speeds to high")
            return
        }

        // call server
        let url = url_sheep_move + "?speed=" + speed + "&dir=" + direction
        console.log("Sending: " + url );
        const Http = new XMLHttpRequest();
        Http.open("GET", url);
        Http.responseType = 'json';
        Http.send();
        Http.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                let sheep_state = Http.response
                updateMotorBars(parseInt(sheep_state['m1']), parseInt(sheep_state['m2']));
            }
        }
    }

    function setMaxSpeed(e) {
        let value = maxSpeedInput.value;
        setParameter("maxSpeed", value);
    }

    function setErrorM1() {
        let value = errorM1Input.value;
        setParameter("errorM1", value);
    }

    function setErrorM2() {
        let value = errorM2Input.value;
        setParameter("errorM2", value);
    }

    function setCutterOnOff() {
        if (cutterOn.checked){
            send(url_sheep_cutter + "/on");
        }else{
            send(url_sheep_cutter + "/off");
        }
    }

    function setParameter(param, value) {
        let url = url_sheep_set + "?" + param + "=" + value
        send(url);
    }

    function send(url) {
        // call server
        console.log("Sending: " + url );
        const Http = new XMLHttpRequest();
        Http.open("GET", url);
        Http.responseType = 'json';
        Http.send();
        Http.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
            }
        }
    }


</script>
</body>
</html>
